<div class="features" id="predictability">
  <div class="features-wrap">
    <div class="features-list">
      <header class="features-item">
        <h2 lang="en">Give your users the latest version of the web</h2>
        <h2 lang="zh">为你的用户提供最新的web技术</h2>
        <!-- <p>With the Crosswalk Project, your app will render the same across every Android 4.0 device, so you can simultaneously test on less devices and know your apps works in more places.</p> -->
      </header>
      <div class="features-item">
        <h4 lang="en" class="features-heading">Provide a Google Chrome-like in-app&nbsp;browser</h4>
        <h4 lang="zh" class="features-heading">提供一个类似于Google Chrome的内嵌浏览器</h4>
        <hr class="features-pointer" />
        <p lang="en">In-app browsers are used more than the default Android browser. Give your users the latest version of the web by using the Crosswalk Project as your app’s embedded browser.</p>
        <p lang="zh">内嵌浏览器的应用场景比Android默认浏览器更多。将Crosswalk作为应用的内嵌浏览器，为你的用户提供最新的web技术。</p>
      </div>
      <div class="features-item">
        <h4 lang="en" class="features-heading">Icon fonts, <abbr>SVG</abbr>, Flexbox, and more</h4>
        <h4 lang="zh" class="features-heading">Icon字体，<abbr>SVG</abbr>，Flexbox，以及更多功能</h4>
        <hr class="features-pointer" />
        <p lang="en">The Crosswalk Project supports exactly what you’d expect from a WebView based on Google Chromium and Blink. Easily make your users’ browser and experience great.</p>
        <p lang="zh">如你所期望的一样，Crosswalk完全支持基于Google Chromium和Blink内核的WebView的强大功能，轻松提升用户的浏览及使用体验。</p>
      </div>
      <div class="features-item">
        <h4 lang="en" class="features-heading">New monitoring <abbr>API</abbr>s</h4>
        <h4 lang="zh" class="features-heading">新的监控<abbr>API</abbr></h4>
        <hr class="features-pointer" />
        <p lang="en">As more browsers support performance monitoring <abbr>API</abbr>s, the more accurate your performance measurements become. The Crosswalk Project helps increase your sample size.</p>
        <p lang="zh">当越来越多的浏览器都在使用性能监控<abbr>API</abbr>，你的应用的性能度量变得越来越精确。Crosswalk可以帮助你增加样本的数量。</p>
      </div>
      <h3 lang="en">Which <code>WebView</code> are you using?</h3>
      <h3 lang="zh">你在使用什么样的<code>WebView</code>？</h3>
      <table class="table--ftcomp">
        <thead>
          <tr>
            <td lang="en">HTML5 feature</td>
            <td lang="zh">HTML5功能</td>
            <td lang="en">Without the Crosswalk Project</td>
            <td lang="zh">不使用Crosswalk</td>
            <td lang="en">With the Crosswalk Project</td>
            <td lang="zh">使用Crosswalk</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Predictable layout</td>
            <td><%- partial("assets/icons/crosswalk-landing-question.xml.ejs") %></td>
            <td><%- partial("assets/icons/crosswalk-landing-check.xml.ejs") %></td>
          </tr>
          <tr>
            <td><abbr>CSS</abbr> feature queries</td>
            <td><%- partial("assets/icons/crosswalk-landing-question.xml.ejs") %></td>
            <td><%- partial("assets/icons/crosswalk-landing-check.xml.ejs") %></td>
          </tr>
          <tr>
            <td>Current Flexbox</td>
            <td><%- partial("assets/icons/crosswalk-landing-question.xml.ejs") %></td>
            <td><%- partial("assets/icons/crosswalk-landing-check.xml.ejs") %></td>
          </tr>
          <tr>
            <td><abbr>WOFF</abbr> web fonts</td>
            <td><%- partial("assets/icons/crosswalk-landing-question.xml.ejs") %></td>
            <td><%- partial("assets/icons/crosswalk-landing-check.xml.ejs") %></td>
          </tr>
          <tr>
            <td>Controlled <code>WebView</code> updates</td>
            <td><%- partial("assets/icons/crosswalk-landing-question.xml.ejs") %></td>
            <td><%- partial("assets/icons/crosswalk-landing-check.xml.ejs") %></td>
          </tr>
        </tbody>
      </table>
      <a lang="en" href="/documentation" class="button">Get started</a>
      <a lang="zh" href="/documentation" class="button">开始</a>
    </div>
    <div class="features-media">
      <img src="assets/illustrations/crosswalk-landing-promo-3.png" />
    </div>
  </div>
</div>
